@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Orbitron');

li {
  list-style-type: none;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}