@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Orbitron');

.answer-options {
  margin: 2em auto 10em;
  padding: 0;
}

.quiz-container {
  border: 1px #fff solid;
  width: 40%;
  margin: auto;
  height: 25%; 
}

